<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PublisherMapper">
    <resultMap id="publisherResultMap" type="com.ohgiraffers.model.PublisherDTO">
        <id property="empId" column="EMP_ID"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="salary" column="SALARY"/>
        <result property="hireDate" column="HIRE_DATE"/>
    </resultMap>

    <select id="selectAllEmp" resultMap="publisherResultMap">
        SELECT
        *
        FROM EMPLOYEE_LIST
        ORDER BY EMP_ID
    </select>

    <select id="selectEmpByEmpId" parameterType="String" resultMap="publisherResultMap">
        SELECT
        *
        FROM EMPLOYEE_LIST
        WHERE EMP_ID = #{ empId }
    </select>

    <insert id="insertNewEmp" parameterType="com.ohgiraffers.model.PublisherDTO">
        INSERT INTO EMPLOYEE_LIST
        (
        EMP_ID
        , EMP_NAME
        , EMAIL
        , DEPT_CODE
        , SALARY
        , HIRE_DATE
        )
        VALUES
        (
        #{ empId }
        , #{ empName }
        , #{ email }
        , #{ deptCode }
        , #{ salary }
        , #{ hireDate }
        )
    </insert>

    <update id="modifyEmp" parameterType="com.ohgiraffers.model.PublisherDTO">
        UPDATE EMPLOYEE_LIST
        SET EMP_NAME = #{ empName }
        , EMAIL = #{ email }
        , DEPT_CODE = #{ deptCode }
        , SALARY = #{ salary }
        WHERE EMP_ID = #{ empId }
    </update>

    <delete id="deleteEmp" parameterType="String">
        DELETE FROM EMPLOYEE_LIST
        WHERE EMP_ID = #{ empId }
    </delete>
</mapper>